*.iml
/.gradle
/.gradle/*
local.properties
/.idea/workspace.xml
/.DS_Store
/captures
.idea
.tags*
*.class
*.orig
*.swp
*.*~*

*.clbin

app/CMakeFiles/

app/CMakeCache\.txt

app/Makefile

app/cmake_install\.cmake

gradle/wrapper/gradle-wrapper\.properties

/appMobileFiles/clbin/*/version

*.jpg

*.svg

*.o

app/src/main/main

*.pgm

*.d

*.ppm

*.raw

app/src/main/wooptix-barcode-pcversion

app/src/main/wcode-pc

*.mp4

*labels\.txt

app/src/main/obj/local/armeabi-v7a/

app/src/main/libs/armeabi-v7a/wcode-android-standalone

wcode-pc

*.bin
.DS_Store

wcode-pc\.jar

manifest\.txt

massif\.out\*

callgrind\.out\*

drt-halide

platforms/android/bin/

build/

radon-halide-*


*.tex

*.pdf

*.log

*.aux

*.eps

*.out

plain_cpp/cmake-build-debug/

plain_cpp/cmake-build-release/
